.LoanTelecomInputPop {
  .container {
    padding: 24px 24px 0;
  }

  .inputbox {
    padding-top: 24px;

    &.typed {
      .inputArea {
        color: #123456;
      }
    }

    .inputArea {
      font-family: 'KBB', sans-serif;
      font-size: 26px;
      display: flex;
      justify-content: flex-end;
      height: 44px;
      padding-bottom: 6px;
      color: #929292;
      border-bottom: 2px solid #26282C;
    }

    input {
      font-family: 'KBB', sans-serif;
      font-size: 26px;
      line-height: 33px;
      box-sizing: content-box;
      height: 33px;
      padding-top: 6px;
      padding-right: 0;
      padding-bottom: 7px;
      text-align: right;
      color: #26282C;
      border: 0;
      border-bottom: 2px solid #26282c;
      border-radius: 0;

      &::placeholder {
        font-family: 'KBB', sans-serif;
        font-size: 26px;
        line-height: 33px;
        text-align: right;
        color: #929292;
      }

      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }

  .img {
    line-height: 0;
    margin-top: 24px;
  }

  .btn {
    font-family: 'KBB', sans-serif;
    font-size: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 57px;
    padding: 0;
    letter-spacing: -0.2em;
    color: #26282C;
    border: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    background-color: #FFD338;

    &:disabled {
      background-color: #DDE1E4;

      span {
        color: #AAB0B8;
      }
    }

    &:hover,
    &:active {
      color: #26282C !important;
    }
  }

  .keypadBox {
    height: 230px;
    padding-top: 20px;
    transition: all .3s ease;

    &.hidePad {
      height: 0;
      padding: 0;
      transform: translateY(100%);
    }

    img {
      width: 100%;
      height: 100%;
    }
  }
}