.inputbox {
	position: relative;
	border-bottom: 2px solid #26282C;
	display: flex;
	align-items: center;
	padding-bottom: 8px;
	margin-bottom: 16px;
	.input {
		height: 27px;
		border: 0;
		font-family: "KBB";
		font-size: 19px;
		line-height: 27px;
		letter-spacing: -0.01em;
		padding: 0;
		padding-right: 10px;
		&::placeholder {
			color: #929292;
		} 
		&:focus {
			box-shadow: unset;
		}
	}
	.fakeInput {
		width: 0;
		height: 0;
		padding: 0;
		margin: 0;
		border: 0;
		position: absolute;
		top: 0;
		left: 0;
		&:focus {
			border-color: unset;
			box-shadow: unset;
			outline: 0;
			background-color: unset;
		}
	}
	.clearBtn {
		display: none;
		width: 24px;
		height: 24px;
		background-image: url(../../assets/imgs/icons/icon_clear_24.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-color: unset;
		border: 0;
		margin-right: 10px; 
		flex-shrink: 0;
		&.visible {
			display: inline-block;
		}
	}
	.searchBtn {
		width: 24px;
		height: 24px;
		background-image: url(../../assets/imgs/icons/icon_search_24.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-color: unset;
		border: 0;
		flex-shrink: 0;
	}
}
.beforeSearch {
	p {
		position: relative;
		padding-left: 12px;
		font-family: "KBL";
		font-size: 15px;
		line-height: 21px;
		letter-spacing: -0.02em;
		&::after {
			content: "";
			width: 3px;
			height: 3px;
			border-radius: 50%;
			background-color: #484B51;
			position: absolute;
			top: 9px;
			left: 2px;
		}
	}
}
.searchKeyword {
	display: flex;
	padding-bottom: 10px;
	font-family: "KBL";
	font-size: 18px;
	line-height: 25px;
	letter-spacing: -0.02em;
	color: #696E76;
	border-bottom: 1px solid #C6CBD0;
	padding: 10px 0 20px;
	margin-bottom: 32px;
	strong {
		font-family: "KBB";
		font-size: 18px;
		line-height: 25px;
		letter-spacing: -0.02em;
		color: #287EFF;
	}
	.beforeBtn {
		font-family: "KBL";
		font-size: 13px;
		line-height: 28px;
		vertical-align: top;
		letter-spacing: -0.02em;
		height: 28px;
		border: 1px solid #C6CBD0;
		border-radius: 42px;
		flex-shrink: 0;
		padding: 0 12px;
		margin-left: 20px;
	}
}
.desc {
	font-family: "KBB";
	font-size: 15px;
	line-height: 21px;
	letter-spacing: -0.02em;
	color: #26282C;
	margin-bottom: 10px;
}
.resultList {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #EBEEF0;
	font-family: "KBL";
	font-size: 16px;
	line-height: 23px;
	letter-spacing: -0.02em;
}
.afterSearch {
	.resultList {
		padding: 18px 0;
		&::after {
			content: "";
			width: 20px;
			height: 20px;
			background-image: url(../../assets/imgs/icons/icon_arrow_20.png);
			background-repeat: no-repeat;
			background-size: cover;
		}
	}
}
.clickResult {
	.resultList {
		padding: 18px 0;
		&:first-child {
			padding-top: 8px;
		}
	}
	.price {
		div {
			font-family: "robotoM";
			font-size: 17px;
			line-height: 23px;
			letter-spacing: -0.02em;
			text-align: right;
		}
		p {
			font-family: "KBL";
			font-size: 14px;
			line-height: 20px;
			letter-spacing: -0.01em;
			text-align: right;
			color: #696E76;
		}
	}
}

