.inputbox {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  padding-bottom: 8px;
  border-bottom: 2px solid #26282C;

  .input {
    font-family: "KBB", sans-serif;
    font-size: 19px;
    line-height: 27px;
    width: 100%;
    height: 27px;
    padding: 0;
    padding-right: 10px;
    letter-spacing: -0.01em;
    border: 0;

    &::placeholder {
      color: #929292;
    }

    &:focus {
      box-shadow: unset;
    }
  }

  .fakeInput {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;

    &:focus {
      border-color: unset;
      outline: 0;
      background-color: unset;
      box-shadow: unset;
    }
  }

  .clearBtn {
    display: none;
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    margin-right: 10px;
    border: 0;
    background-color: unset;
    background-image: url(../../assets/imgs/icons/icon_clear_24.png);
    background-repeat: no-repeat;
    background-size: cover;

    &.visible {
      display: inline-block;
    }
  }

  .searchBtn {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    border: 0;
    background-color: unset;
    background-image: url(../../assets/imgs/icons/icon_search_24.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.beforeSearch {
  p {
    font-family: "KBL", sans-serif;
    font-size: 15px;
    line-height: 21px;
    position: relative;
    padding-left: 12px;
    letter-spacing: -0.02em;

    &::after {
      position: absolute;
      top: 9px;
      left: 2px;
      width: 3px;
      height: 3px;
      content: "";
      border-radius: 50%;
      background-color: #484B51;
    }
  }
}

.searchKeyword {
  font-family: "KBL", sans-serif;
  font-size: 18px;
  line-height: 25px;
  display: flex;
  margin-bottom: 32px;
  padding: 10px 0;
  letter-spacing: -0.02em;
  color: #696E76;
  border-bottom: 1px solid #C6CBD0;

  strong {
    font-family: "KBB", sans-serif;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.02em;
    color: #287EFF;
  }

  .beforeBtn {
    font-family: "KBL", sans-serif;
    font-size: 13px;
    line-height: 28px;
    flex-shrink: 0;
    height: 28px;
    margin-left: 20px;
    padding: 0 12px;
    vertical-align: top;
    letter-spacing: -0.02em;
    border: 1px solid #C6CBD0;
    border-radius: 42px;
  }
}

.desc {
  font-family: "KBB", sans-serif;
  font-size: 15px;
  line-height: 21px;
  margin-bottom: 10px;
  letter-spacing: -0.02em;
  color: #26282C;
}

.resultList {
  font-family: "KBL", sans-serif;
  font-size: 16px;
  line-height: 23px;
  display: flex;
  justify-content: space-between;
  letter-spacing: -0.02em;
  border-bottom: 1px solid #EBEEF0;
}

.afterSearch {
  .resultList {
    padding: 18px 0;

    &::after {
      width: 20px;
      height: 20px;
      content: "";
      background-image: url(../../assets/imgs/icons/icon_arrow_20.png);
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

.clickResult {
  .resultList {
    padding: 18px 0;

    &:first-child {
      padding-top: 8px;
    }
  }

  .price {
    div {
      font-family: "robotoM", sans-serif;
      font-size: 17px;
      line-height: 23px;
      text-align: right;
      letter-spacing: -0.02em;
    }

    p {
      font-family: "KBL", sans-serif;
      font-size: 14px;
      line-height: 20px;
      text-align: right;
      letter-spacing: -0.01em;
      color: #696E76;
    }
  }
}

.keypadSheet[class~="ant-drawer-content"] {
  background-color: #d1d3da;
}

.keypadImg {
  img {
    width: 100%;
    height: 100%;
  }
}