.LoanImportCheckWrap{
    background-color: #fff;
    height:calc(100vh - 57px);
    h4 {
        padding:24px 0 0 24px;
        font-size: 24px;
        font-weight: 700;
        line-height: 33px;
    }
    .checkBox {
        margin: 40px 24px 0;
        .checkAll {
            padding-bottom: 14px;
            font-family: 'KBL', sans-serif;
            font-size: 18px;
            font-weight: 700;
            line-height: 25px;
            border-bottom: 1px solid #484B51;
        }
        .checkList {
            padding: 20px 0;
            display: flex;
            flex-direction: column;
            border-bottom: 1px solid  #DDE1E4;
            label{
                font-family: 'KBL', sans-serif;
                font-size: 16px;
                font-weight: 700;
                line-height: 23px;
                & + label {
                    margin-top: 16px;
                }
            }
        }
    }
    .img {
        padding:20px 24px;
        line-height: 0;
    }
    .btn {
        position: fixed;
        width: 100%;
        bottom:0;
        left: 0;
        button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 57px;
            padding: 0;
            background-color: #FFD338;
            color: #26282C;
            font-family: 'KBB';
            font-size: 20px;
            letter-spacing: -0.2em;
            border: none;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
            &:disabled {
                background-color: #DDE1E4;
                span {
                    color: #AAB0B8;
                }
            }
            &:hover,
            &:active
              {
                color: #26282C !important;
              }
        }
    }
    [class~="ant-checkbox-inner"] {
        border:0;
        width: 24px;
        height: 24px;
        background-image: url("@imgs/loan/LoanChack.png");
        background-size: 24px;
        background-position: center;
        background-color: transparent;
        &:hover{
            background-color: transparent;
        }
        &::after {
            display: none;
        }
    }
    [class~="ant-checkbox-wrapper"]:not([class~="ant-checkbox-wrapper-disabled"]):hover [class~="ant-checkbox-checked"]:not([class~="ant-checkbox-disabled"]) [class~="ant-checkbox-inner"] {
        background-color: transparent;
    }
    [class~="ant-checkbox-checked"]:not([class~="ant-checkbox-disabled"]):hover [class~="ant-checkbox-inner"]{
        background-color: transparent;
    }
    [class~="ant-checkbox-checked"]{
        [class~="ant-checkbox-inner"] {
            background-color: transparent;
            border:0;
            width: 24px;
            height: 24px;
            background-image: url("@imgs/loan/LoanChack_on.png");
            background-size: 24px;
            background-position: center;
        }
    }
}