.userSelectedValue
  display: flex
  justify-content: flex-end
  padding-top: 7px
  padding-left: 3px

  ul
    background-color: #C5C5C5
    -webkit-border-radius: 14px 0 14px 14px
    -moz-border-radius: 14px 0 14px 14px
    border-radius: 14px 0 14px 14px
    width: 282px
    
  li
    display: flex
    justify-content: space-between
    align-items: center
    font-family: 'KBL', sans-serif

  .postNumber
    justify-content: flex-end
    font-family: 'KBB', sans-serif

  .ratioValue
    font-family: 'KBB', sans-serif
    height: 40px

  .floorStair
    font-family: 'KBB', sans-serif
    height: 40px