.LoanImgSubmitPop {
    .title {
        line-height: 0;
        width: 270px;
        text-align: center;
    }
    .img {

    }
    .submitList {
        li {
            position: relative;
            & + li {
                margin-top: 20px;
            }
            span {
                display: inline-block;
                position:absolute;
                top:0;
                right:0;
                width: 61px;
                height: 28px;
                background-image: url("@imgs/loan/LoanImgSubmitPop_btn.png");
                background-size: 61px auto;
                background-position: center;
                background-color: transparent;
                &.on {
                    width: 61px;
                    height: 28px;
                    background-image: url("@imgs/loan/LoanImgSubmitPop_btn_on.png");
                    background-size: 61px auto;
                    background-position: center;
                    background-color: transparent;
                }
            }
        }
    }
    .btn {
        position: fixed;
        width: 100%;
        bottom:0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 57px;
        padding: 0;
        background-color: #FFD338;
        color: #26282C;
        font-family: 'KBB';
        font-size: 20px;
        letter-spacing: -0.2em;
        border: none;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        &:disabled {
            background-color: #DDE1E4;
            span {
                color: #AAB0B8;
            }
        }
        &:hover,
        &:active
          {
            color: #26282C !important;
          }
    }
}