.LoanImgSubmitPop {
  .title {
    line-height: 0;
    position: absolute;
    top: -14px;
    right: 37px;
    width: 270px;
    text-align: center;
  }

  .submitList {
    li {
      position: relative;

      & + li {
        margin-top: 20px;
      }

      span {
        position: absolute;
        top: 0;
        right: 0;
        display: inline-block;
        width: 61px;
        height: 28px;
        background-color: transparent;
        background-image: url("@imgs/loan/LoanImgSubmitPop_btn.png");
        background-position: center;
        background-size: 61px auto;

        &.on {
          width: 61px;
          height: 28px;
          background-color: transparent;
          background-image: url("@imgs/loan/LoanImgSubmitPop_btn_on.png");
          background-position: center;
          background-size: 61px auto;
        }
      }
    }
  }

  .btn {
    font-family: 'KBB';
    font-size: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    width: 100%;
    height: 57px;
    padding: 0;
    letter-spacing: -0.2em;
    color: #26282C;
    border: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    background-color: #FFD338;

    &:disabled {
      background-color: #DDE1E4;

      span {
        color: #AAB0B8;
      }
    }

    &:hover,
    &:active {
      color: #26282C !important;
    }
  }

  .img {
    position: relative;

    .chkBox {
      position: absolute;
      z-index: 100;
      top: 18px;
      right: 128px;
      display: inline-block;
      width: 10px;
      height: 10px;
    }
  }
}

