.utilUnderTalkList
  display: flex
  margin-top: 10px

  li
    & + li
      margin-left: 10px

    button
      font-size: 14px
      font-family: 'KBL', sans-serif
      border: none
      -webkit-border-radius: 30px
      -moz-border-radius: 30px
      border-radius: 30px
      height: 32px
      line-height: 18px
      color: #424242

      &:hover,
      &:focus,
      &:focus-within,
      &:active
        outline: 0 !important
        color: #424242 !important

      &:disabled
        background-color: #fff
        color: #424242

      > div
        display: none
