.KBConfirmBtn
  display: flex
  justify-content: center
  align-items: center
  width: 100%
  height: 57px
  padding: 0
  background-color: #FFD338
  color: #26282C
  font-weight: 700
  font-size: 20px
  letter-spacing: -0.2em
  border: none
  -webkit-border-radius: 0
  -moz-border-radius: 0
  border-radius: 0

  &:hover,
  &:active
    color: #26282C !important