.subText {
  font-family: 'KBL';
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #26282C;
}

.exchangeListWrap {
  overflow-x: auto;
  width: 100vw;
  margin-top: 16px;
  margin-left: -16px;
  white-space: nowrap;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
  }
}

.exchangeList {
  line-height: 1.5em;
  display: inline-flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 237px;
  padding: 16px 16px;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  border-radius: 14px;
  background-color: #fff;

  img {
    width: 100%;
    margin-bottom: 16px;
  }

  & + .exchangeList {
    margin-left: 10px;
  }

  &:first-child {
    margin-left: 16px;
  }
}

.MoreBtn {
  display: inline-block;
  padding: 0 8px;
  vertical-align: super;

  img {
    width: 35px;
    height: 60px;
  }
}

.pagination {
  display: flex;
  height: 10px;
  margin-top: 20px;
  margin-left: 18px;

  .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: #A4A4A4;

    &.active {
      width: 22px;
    }

    & + .dot {
      margin-left: 7px;
    }
  }
}