.selectList {
	button {
		span {
			width: 16px;
			height: 16px;
			margin-left: 10px;
		}
	}
}
.moreview {
	font-family: 'KBL';
	font-size: 14px;
	line-height: 18px;
	letter-spacing: -0.01em;
	text-align: right;
	padding-top: 14px;
}