.inputWrap {
	border-bottom: 2px solid #26282C;
	display: flex;
	padding-bottom: 7px;
	span {
		font-family: "KBB";
		font-size: 26px;
		line-height: 33px;
	}
	.input {
		height: 33px;
		border: 0;
		font-family: "KBB";
		font-size: 19px;
		line-height: 27px;
		letter-spacing: -0.02em;
		padding: 0;
		&::placeholder {
			color: #929292;
		}
		&:focus {
			box-shadow: unset;
		}
	}
}